<div class="legal-container">
    <h1 class="page-title">Terms of Service</h1>
  
    <div class="page-content">
      <h2>Acceptance of Terms</h2>
      <p>
        By accessing or using the Service, you agree to be bound by these Terms. If you disagree with any part of the terms, then you may not access the Service.
      </p>
  
      <h2>Changes to Terms</h2>
      <p>
        We reserve the right, at our sole discretion, to modify or replace these Terms at any time.
      </p>
  
      </div>
  </div>
  