
  <section class="hero" style="display: flex; justify-content: center; align-content: center; align-items: center;">
    <div class="hero-content">
<div class="spacer-top"></div>
      <h1 style="font-size: 4.5rem;">Welcome to Serenity</h1>
      <p style="font-size: 2rem;">Discover peace and tranquility in nature's embrace.</p>
<div class="spacer-top"></div>
      <div class="subscription-card">
        <h2>Subscribe to Our Newsletter</h2>
        <input type="email" placeholder="Enter your email" class="glassmorphism">
        <button class="glassmorphism">Subscribe</button>
      </div>
    </div>

    <div class="hero-image">
      </div>
  </section>
