@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #FF5722; /* Example */
  --secondary-color: #00BCD4; /* Example */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main {
  background-color: rgba(0, 0, 0, 0.8); /* Example: Dark background with transparency */
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
